
<!DOCTYPE html>
<html>
  <head>
    <title>Square Connect API Documentation</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="0B4qb4-pFTWrYS7OTJNyreMP-45zj2dZ_tuVcScSdGg" />
    <meta name="environment" content="production">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" media="all" href="/assets/application-acfa8a81ed7d1ccfdfe74e3edbaa17db51bb3c291aad19f20f8aca31555afb92.css" />
    <script src="/assets/application-6f3f4472f584c2c6504a8082602ff1081af776b3469f1616de675208edf1cbff.js" async="async"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon-770e0889aefd823056c7cdbb066a445be0f0754c1b4d4cba877e120fdbcb63e6.ico" />
  </head>

  <body>
    <div class="page-container">
      <div id="page-cover"></div>
      <div class="topbar-responsive">
  <a id="menu-link" class="topbar-responsive__link">Menu</a>
  <div class="topbar-responsive__logo">
    <a href="/">
      <svg aria-labeledby="square-logo-title square-logo-desc"
     class="reset"
     role="img"
     viewBox="0 0 44 44"
     xmlns="http://www.w3.org/2000/svg">
  <title id="square-logo-title">Square</title>
  <desc id="square-logo-desc">Accept Credit Cards From An iPhone, Android or iPad - Square</desc>
  <path
    d="M36.65 0h-29.296c-4.061 0-7.354 3.292-7.354 7.354v29.296c0 4.062 3.293 7.354 7.354
    7.354h29.296c4.062 0 7.354-3.292 7.354-7.354v-29.296c.001-4.062-3.291-7.354-7.354-7.354zm-.646
    33.685c0 1.282-1.039 2.32-2.32 2.32h-23.359c-1.282 0-2.321-1.038-2.321-2.32v-23.36c0-1.282
    1.039-2.321 2.321-2.321h23.359c1.281 0 2.32 1.039 2.32 2.321v23.36z"
    role="presentation">
  </path>
  <path
    d="M17.333 28.003c-.736 0-1.332-.6-1.332-1.339v-9.324c0-.739.596-1.339 1.332-1.339h9.338c.738
    0 1.332.6 1.332 1.339v9.324c0 .739-.594 1.339-1.332 1.339h-9.338z"
    role="presentation">
  </path>
</svg>

</a>  </div>
  <a id="responsive-devportal-link" class="topbar-responsive__link" href="https://connect.squareup.com/apps">
    Apps
  </a>
</div>

<div class="topbar">
  <div class="topbar__searchbox">
    <form action="/searchresults.html">
      <button class="topbar__searchbox__icon" type="submit">
        <svg width="22px" height="22px" viewBox="-1 -1 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <path stroke-width="2" d="M0,7.801 C0,12.219 3.762,16 8.183,16 C12.599,16 16,12.219 16,7.801 C16,3.38 12.599,0 8.183,0 C3.762,0 0,3.38 0,7.801 L0,7.801 Z"></path>
  <path stroke-width="2" d="M20,20 L14,14"></path>
</svg>

      </button>
      <input type="text" name="q" id="tipue_search_input" autocomplete="off"
        required="true" tabindex="1" placeholder="What are you looking for?">
    </form>
  </div>
    <div class="topbar__button">
      <a id="devportal-link" class="pull-right topbar__button__text" href="https://connect.squareup.com/apps">
          Sign In
      </a>
    </div>
</div>


      <div class="article-page-wrapper">
        <div class="article-picker">
          <a id="close-button">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80" height="80">
    <line fill="none" stroke="#2E3B4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="24" y1="24" x2="56" y2="56" />
    <line fill="none" stroke="#2E3B4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="56" y1="24" x2="24" y2="56" />
  </svg>
</a>

<div class="header">
  <a href="/">
    <div class="header__logo">
      <svg aria-labeledby="square-logo-title square-logo-desc"
     class="reset"
     role="img"
     viewBox="0 0 44 44"
     xmlns="http://www.w3.org/2000/svg">
  <title id="square-logo-title">Square</title>
  <desc id="square-logo-desc">Accept Credit Cards From An iPhone, Android or iPad - Square</desc>
  <path
    d="M36.65 0h-29.296c-4.061 0-7.354 3.292-7.354 7.354v29.296c0 4.062 3.293 7.354 7.354
    7.354h29.296c4.062 0 7.354-3.292 7.354-7.354v-29.296c.001-4.062-3.291-7.354-7.354-7.354zm-.646
    33.685c0 1.282-1.039 2.32-2.32 2.32h-23.359c-1.282 0-2.321-1.038-2.321-2.32v-23.36c0-1.282
    1.039-2.321 2.321-2.321h23.359c1.281 0 2.32 1.039 2.32 2.321v23.36z"
    role="presentation">
  </path>
  <path
    d="M17.333 28.003c-.736 0-1.332-.6-1.332-1.339v-9.324c0-.739.596-1.339 1.332-1.339h9.338c.738
    0 1.332.6 1.332 1.339v9.324c0 .739-.594 1.339-1.332 1.339h-9.338z"
    role="presentation">
  </path>
</svg>

    </div>
    <div class="header__text">Developer</div>
</a></div>
<ul id="article-toc">
  <li class="article-toc-section" data-unique="navsection-basics">
    <h2 class="article-toc-section__title">The Basics</h2>
    <ul class="article-toc-subsection article-toc-subsection--active">
      <li class="article-toc-item article-toc-item--active"><a data-unique="getting-started" href="/">Getting started</a></li>
      <li class="article-toc-item"><a data-unique="square-business-structure" href="/articles/square-business-structure">The structure of a Square business</a></li>
      <li class="article-toc-item"><a data-unique="code-samples" href="/articles/code-samples">Code samples</a></li>
      <li class="article-toc-item"><a data-unique="client-libraries" href="/articles/client-libraries">Client libraries</a></li>
      <li class="article-toc-item"><a data-unique="troubleshooting-errors" href="/articles/troubleshooting-errors">Troubleshooting errors</a></li>
      <li class="article-toc-item"><a data-unique="catalog-overview" href="/articles/catalog-overview">Catalog Overview</a></li>
      <li class="article-toc-item"><a href="/articles/faq">FAQ</a></li>
</ul>  </li>
  <li class="article-toc-section" data-unique="">
    <h2 class="article-toc-section__title">Online Payments</h2>
    <ul class="article-toc-subsection">
      <h3 class="article-toc-section__subtitle">Square Checkout</h3>
      <ul class="article-toc-section__subsection">
      <li class="article-toc-item"><a data-unique="square-checkout-overview" href="/articles/square-checkout-overview">Overview</a></li>
      <li class="article-toc-item"><a data-unique="square-checkout-getstarted" href="/articles/square-checkout-getstarted">Get Started</a></li>
      </ul>

      <h3 class="article-toc-section__subtitle">E-commerce API</h3>
      <ul class="article-toc-section__subsection">
      <li class="article-toc-item"><a data-unique="paymentform-overview" href="/articles/paymentform-overview">Get Started</a></li>
      <li class="article-toc-item"><a data-unique="adding-payment-form" href="/articles/adding-payment-form">Embedding the Square Payment Form</a></li>
      <li class="article-toc-item"><a data-unique="processing-payment-rest" href="/articles/processing-payment-rest">Processing a payment (REST)</a></li>
      <li class="article-toc-item"><a data-unique="processing-payment-php" href="/articles/processing-payment-php">Processing a payment (PHP)</a></li>
      <li class="article-toc-item"><a data-unique="processing-payment-ruby" href="/articles/processing-payment-ruby">Processing a payment (Ruby)</a></li>
      <li class="article-toc-item"><a data-unique="processing-payment-other" href="/articles/processing-payment-other">Processing a payment (Other languages)</a></li>
      <li class="article-toc-item"><a data-unique="processing-recurring-payments-ruby" href="/articles/processing-recurring-payments-ruby">Recurring payments</a></li>
      <li class="article-toc-item"><a data-unique="delayed-capture-transactions" href="/articles/delayed-capture-transactions">Delayed capture transactions</a></li>
      </ul>

      <h3 class="article-toc-section__subtitle">Testing</h3>
      <ul class="article-toc-section__subsection">
      <li class="article-toc-item"><a data-unique="using-sandbox" href="/articles/using-sandbox">Testing with the API sandbox</a></li>
      </ul>
</ul>  </li>
  <li class="article-toc-section" data-unique="">
    <h2 class="article-toc-section__title">In-Person Payments</h2>
    <ul class="article-toc-subsection">
      <li class="article-toc-item"><a data-unique="point-of-sale-api-overview" href="/articles/point-of-sale-api-overview">Point of Sale API Overview</a></li>
      <li class="article-toc-item"><a data-unique="point-of-sale-api-ios" href="/articles/point-of-sale-api-ios">Using the Point of Sale API (iOS)</a></li>
      <li class="article-toc-item"><a data-unique="point-of-sale-api-android" href="/articles/point-of-sale-api-android">Using the Point of Sale API (Android)</a></li>
      <li class="article-toc-item"><a data-unique="web-api-ios" href="/articles/web-api-ios">Using the Web API (iOS)</a></li>
      <li class="article-toc-item"><a data-unique="web-api-android" href="/articles/web-api-android">Using the Web API (Android)</a></li>
</ul>  </li>
  <li class="article-toc-section" data-unique="navsection-apiref">
    <h2 class="article-toc-section__title">Full API Reference</h2>
    <ul class="article-toc-subsection">
      <li class="article-toc-item">
        <a href="/api/connect/v2/" target="_blank">Connect v2</a>
      </li>
      <li class="article-toc-item">
        <a href="/api/connect/v1/" target="_blank">Connect v1</a>
      </li>
      <li class="article-toc-item">
        <a href="/api/point-of-sale/" target="_blank">Point of Sale SDK (iOS)</a>
      </li>
      <li class="article-toc-item">
        <a href="/api/point-of-sale/android/" target="_blank">Point of Sale SDK (Android)</a>
      </li>
      <li class="article-toc-item">
        <a href="/api/oauth/" target="_blank">OAuth</a>
      </li>
    </ul>
  </li>
  <li class="article-toc-section" data-unique="navsection-news">
    <h2 class="article-toc-section__title">Release Notes</h2>
    <ul class="article-toc-subsection">
      <li class="article-toc-item"><a data-unique="square-api-release-notes-2017-06-23" href="/articles/square-api-release-notes-2017-06-23">Square API Release Notes (2017-06-23)</a></li>
      <li class="article-toc-item"><a data-unique="checkout-api-released-transactions-api-updated-2017-06" href="/articles/checkout-api-released-transactions-api-updated-2017-06">Checkout API released, Transactions API updated (2017-06)</a></li>
      <li class="article-toc-item"><a data-unique="point-of-sale-api-ios-v1.3-released-2017-06-19" href="/articles/point-of-sale-api-ios-v1.3-released-2017-06-19">Point of Sale API for iOS v1.3 released (2017-06-19)</a></li>
      <li class="article-toc-item"><a data-unique="register-api-renamed-point-of-sale-api-2017-05" href="/articles/register-api-renamed-point-of-sale-api-2017-05">Register API Renamed to Point of Sale API (2017-05)</a></li>
      <li class="article-toc-item"><a data-unique="catalog-api-2017-05" href="/articles/catalog-api-2017-05">Catalog API (2017-05)</a></li>
      <li class="article-toc-item"><a data-unique="web-api-android-released-2016-11" href="/articles/web-api-android-released-2016-11">Web API for Android released (2016-11)</a></li>
      <li class="article-toc-item"><a data-unique="register-api-ios-v1.2-released-2016-11" href="/articles/register-api-ios-v1.2-released-2016-11">Register API for iOS v1.2 released (2016-11)</a></li>
      <li class="article-toc-item"><a data-unique="register-api-ios-v1.1-released-2016-10" href="/articles/register-api-ios-v1.1-released-2016-10">Register API for iOS v1.1 released (2016-10)</a></li>
      <li class="article-toc-item"><a data-unique="register-api-android-sample-app-released-2016-10d" href="/articles/register-api-android-sample-app-released-2016-10">Register API for Android sample application released (2016-10)</a></li>
      <li class="article-toc-item"><a data-unique="register-api-android-v1.1-released-2016-09" href="/articles/register-api-android-v1.1-released-2016-09">Register API for Android v1.1 released (2016-09)</a></li>
      <li class="article-toc-item"><a data-unique="register-api-android-released-2016-05" href="/articles/register-api-android-released-2016-05">Register API for Android released (2016-05)</a></li>
      <li class="article-toc-item"><a data-unique="connect-v2-released-2016-03" href="/articles/connect-v2-released-2016-03">Connect API v2 released (2016-03)</a></li>
      <li class="article-toc-item"><a data-unique="connect-api-changes-2016-02" href="/articles/connect-api-changes-2016-02">API changes (2016-02-16)</a></li>
</ul>  </li>
  <li class="article-toc-section" data-unique="navsection-otherreference">
    <h2 class="article-toc-section__title">Other Reference</h2>
    <ul class="article-toc-subsection">
      <li class="article-toc-item">
        <a href="https://connect.squareup.com/tos"
          target="_blank">Terms of service</a>
      </li>
    </ul>
  </li>
</ul>

        </div>
        <div id="article-container">
          <article id="getting-started" class="connect-article">
  <section class="article-section">
    <h1>Square APIs: Getting Started</h1>
    <p>
      Square provides a collection of APIs to help you build integrations for a wide
      range of merchant use cases. The most common use cases are:
    </p>
    <p>
      <strong>E-commerce.</strong> Merchants can accept online payments with a secure,
      customizable form they embed on their website. They can also issue refunds for
      previously processed payments.
    </p>
    <p>
      <strong>In-person commerce.</strong> Custom iOS and Android point-of-sale apps
      can use the Square Point of Sale API to process payments securely with Square hardware.
    </p>
    <p>
      <strong>Reporting.</strong> Merchants can download the details of their transaction
      and deposit history, along with their item and inventory information.
    </p>
    <p>
      <strong>Employee management.</strong> Business owners can track employee hours
      and set employee permissions for certain activities, like issuing refunds in
      Square Point of Sale.
    </p>
    <p>Complete the steps in this article to get up and running, and to familiarize
      yourself with all of Square's APIs. Please note that using Square APIs requires
      experience with programming.
    </p>
    <aside class="notice">
      <p>
        <strong>Important:</strong> Square <a href="/articles/ecommerce-overview">E-commerce</a>
        and <a href="/articles/point-of-sale-api-overview">Point of Sale</a> APIs are currently
        available only in the United States, Canada, Australia, the United Kingdom, and Japan.
        We are working to make them available in additional countries soon.
        <a href="/api/connect/v1/">Version 1</a> of the API is available everywhere.
      </p>
    </aside>
  </section>

  <section class="article-section">
    <h2 id="createaccount">Step 1: Create a Square account</h2>
    <p>
      Square developer accounts are the same as Square merchant accounts. If you
      already have a Square account, you're all set.</p>
    <p>
      If you <em>don't</em> already have a Square account,
      <a href="https://squareup.com/signup?v=developers">create one</a> to start using
      the API.
    </p>
    <p>
      If you're planning to use Square APIs to process card payments, visit
      <a href="https://www.squareup.com/activate">squareup.com/activate</a>
      after you create your account to ensure your account is enabled for payment
      processing. Otherwise, if you use a non-sandbox API that requires payments activation,
      you may get error responses that you must activate.
    </p>
  </section>

  <section class="article-section">
    <h2 id="registerapplication">Step 2: Register an application with Square</h2>
    <p>
      Now that you have a Square account, visit <a href="https://connect.squareup.com/apps">
      https://connect.squareup.com/apps</a> and sign in.</p>
    <p>
      This is your <strong>application dashboard</strong>. It's where you register
      new applications, change your application settings, and find all of your application
      credentials.
    </p>
    <p>
      To register your first application:</p>
    <ol>
      <li>
        Click <strong>New Application</strong>.
      </li>
      <li>
        Enter a name for your application and click <strong>Create App</strong>.
        (Note that your application name can't include the word <code>Square</code>.)
      </li>
    </ol>
    <p>
      As soon as your application is created, the <strong>control panel</strong> for
      it appears.
      The control panel consists of four tabs (<strong>Credentials</strong>,
      <strong>OAuth</strong>, <strong>Webhooks</strong>, and
      <strong>Point of Sale API</strong>), each with multiple sections.
    </p>
  </section>

  <section class="article-section">
    <h2 id="identifycredentials">Step 3: Learn about application credentials</h2>
    <p>
      The <strong>Credentials</strong> and <strong>OAuth</strong> tabs of your
      application's control panel include a lot of different credentials that
      can be tricky to keep straight. Here's a quick rundown:
    </p>
    <h3 id="personalaccesstoken">Personal Access Token</h3>
    <p>
      This is found in the <strong>Credentials</strong> tab of the control panel.
    </p>
    <p>
      This special token gives you full API access to your <em>own</em>
      Square account. When you send HTTPS requests to Square API endpoints, you
      include this value in a header to identify yourself.
    </p>
    <p>
      <strong>If you're building an application just for yourself, this is the only
        access token you'll ever need to use.</strong>
    </p>
    <h3 id="applicationid">Application ID</h3>
    <p>
      This is found in the <strong>Credentials</strong> tab of the control panel.
    </p>
    <p>This is your application's unique ID. It's used in a couple places:</p>
    <ul>
      <li>
        If you're building an application that <em>other</em> merchants will use,
        you'll specify this value during the OAuth flow (discussed later).
      </li>
      <li>
        If you're using the e-commerce API, you'll provide this value when you embed
        the secure payment form on your website.
      </li>
    </ul>
    <h3 id="applicationsecret">Application Secret</h3>
    <p>
      This is found in the <strong>OAuth</strong> tab of the control panel.
    </p>
    <p>
      If you're building an application that other merchants will use, you provide
      this value during the OAuth flow to confirm your application's identity.
    </p>
    <p>
      As its name suggests, <strong>this value is a secret!</strong>
      If you think it's been compromised, you can click <strong>Show Secret</strong>
      and then <strong>Replace Secret</strong> in the application control panel to
      replace it.
    </p>
    <h3 id="sandboxcredentials">Sandbox Application ID and Access Token</h3>
    <p>
      This is found in the <strong>Credentials</strong> tab of the control panel.
    </p>
    <p>
      The e-commerce API provides a <strong>sandbox</strong> that lets you try out
      processing credit card payments without actually moving any money.
    </p>
    <p>
      To process e-commerce payments in sandbox mode, you provide these credentials
      anywhere you would typically provide your standard Application ID and Personal
      Access Token.
    </p>
  </section>

  <section class="article-section">
    <h2 id="firstrequest">Step 4: Send your first API request</h2>
    <p>
      Now that you have your application credentials, you can start communicating
      with Square APIs! Let's start with a simple <code>curl</code> command.
    </p>
    <p>
      Paste the following into a terminal and replace <code>PERSONAL_ACCESS_TOKEN</code>
      with your personal access token:
    </p>
    <pre class=""><code class="highlight bash">curl -H &quot;Authorization: Bearer PERSONAL_ACCESS_TOKEN&quot; https://connect.squareup.com/v2/locations</code></pre>    <p>
      When the command completes, it prints JSON output representing the basic details
      for all of your Square business's <strong>locations</strong>. Its structure
      resembles the following:
    </p>
    <pre class="pre--numbered"><code class="line-nums highlight json">{
  &quot;locations&quot;: [
    {
      &quot;id&quot;: &quot;CBASEDqu0eR0gRyr6d4TArPMZyk&quot;,
      &quot;name&quot;: &quot;Coffee &amp; Toffee SF&quot;,
      &quot;address&quot;: {
        &quot;address_line_1&quot;: &quot;1455 Market Street&quot;,
        &quot;locality&quot;: &quot;San Francisco&quot;,
        &quot;administrative_district_level_1&quot;: &quot;CA&quot;,
        &quot;postal_code&quot;: &quot;94103&quot;,
        &quot;country&quot;: &quot;US&quot;
      },
      &quot;timezone&quot;: &quot;America/Los_Angeles&quot;,
      &quot;capabilities&quot;: [
        &quot;CREDIT_CARD_PROCESSING&quot;
      ]
    }
  ]
}</code></pre>    <p>
      Nice work! You've successfully sent a request to the Square Connect API's
      <a href="/api/connect/v2/#endpoint-listlocations">ListLocations</a> endpoint.
    </p>
  </section>

  <section class="article-section">
    <h2 id="requestfromcode">Step 5: Send an API request from code</h2>
    <p>A <code>curl</code> command is a nice start, but let's see what that same command looks
      like from code.
    </p>
    <p>
      Create a new blank text file, <code>listlocations.py</code>.
    </p>
    <p>
      Paste the following into <code>listlocations.py</code> and replace <code>REPLACE_ME</code>
      with your personal access token:
    </p>
  <pre class="pre--numbered"><code class="line-nums highlight python">#!/usr/bin/python
import httplib, urllib, json

# All requests to the Square Connect API require an access token in an
# Authorization header. Specify your application&#39;s personal access token here
# (available from https://connect.squareup.com/apps)
access_token = &#39;REPLACE_ME&#39;

# In addition to an Authorization header, requests to the Connect API should
# include the indicated Accept and Content-Type headers.
request_headers = {&#39;Authorization&#39;: &#39;Bearer &#39; + access_token,
               &#39;Accept&#39;:        &#39;application/json&#39;,
               &#39;Content-Type&#39;:  &#39;application/json&#39;}

# Send a GET request to the ListLocations endpoint and obtain the response.
connection = httplib.HTTPSConnection(&#39;connect.squareup.com&#39;)
request_path = &#39;/v2/locations&#39;
connection.request(&#39;GET&#39;, request_path, &#39;&#39;, request_headers)
response = connection.getresponse()

# Convert the returned JSON body into an array of locations you can work with.
locations = json.loads(response.read())

# Pretty-print the locations array.
print json.dumps(locations, indent=2, separators=(&#39;,&#39;,&#39;: &#39;))</code></pre>    <p>
      This example is in Python because it's easy to read and run, but you can of
      course communicate with Square API endpoints from any programming language.
    </p>
    <p>
      Run the sample from the command line with the following command:
    </p>
    <pre class=""><code class="highlight bash">python listlocations.py</code></pre>    <p>
      The sample will print the same JSON output that your <code>curl</code> command
      did in <a href="#firstrequest">Step 4: Send your first API request</a>.
    </p>
  </section>

  <section class="article-section">
    <h2 id="httplibrary">Step 6: Pick an HTTPS library</h2>
    <p>
      No matter what you're building, your application is probably going to be communicating
      with Square API endpoints over HTTPS. Before you begin development, you should
      pick an HTTPS library to work with.
    </p>
    <p>
    For certain languages, Square provides
      <a href="/articles/client-libraries">client libraries</a> that
      make it easy to communicate with API endpoints. (Note that these client libraries
      currently only support <a href="/api/connect/v2/#navsection-endpoints">Connect
      API version 2 endpoints</a>. If you will use <a href="/api/connect/v1/">version
      1 endpoints</a> as well, you should stick with a different library for now.)
    </p>
    <p>
      All common programming languages provide at least one built-in library for sending
      HTTPS requests. Most languages also have one or more popular libraries that
      are developed by a third party.</p>
    <p>
      If this is your first time working with HTTPS requests, the
      <a href="http://unirest.io/">Unirest</a> suite of libraries is recommended.
      It is well documented and easy to use.
    </p>

    <table>
      <thead>
        <tr>
          <th>Language</th>
          <th>Built-in HTTPS library</th>
          <th>External HTTPS libraries</th>
          <th>Square client library</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>PHP</td>
          <td><a href="http://php.net/manual/en/book.curl.php">cURL</a></td>
          <td><a href="http://unirest.io/php.html">Unirest</a></td>
          <td><a href="https://packagist.org/packages/square/connect">
            square/connect</a></td>
        </tr>
        <tr>
          <td>Ruby</td>
          <td><a href="http://ruby-doc.org/stdlib-2.1.3/libdoc/net/http/rdoc/Net/HTTP.html">
            Net::HTTP</a></td>
          <td><a href="http://unirest.io/ruby.html">Unirest</a>,
            <a href="https://github.com/lostisland/faraday">Faraday</a>
          </td>
          <td><a href="https://rubygems.org/gems/square_connect">
            square_connect</a>
          </td>
        </tr>
        <tr>
          <td>Python</td>
          <td><a href="https://docs.python.org/2/library/httplib.html">
            httplib</a></td>
          <td><a href="http://unirest.io/python.html">Unirest</a>,
            <a href="http://docs.python-requests.org/en/latest/">Requests</a>
          </td>
          <td><a href="https://pypi.python.org/pypi/squareconnect/2.0.0">
            squareconnect</a></td>
        </tr>
        <tr>
          <td>.NET</td>
          <td><a href="http://msdn.microsoft.com/library/hh674188.aspx">
            System.Net</a></td>
          <td><a href="http://unirest.io/net.html">Unirest</a>,
            <a href="http://restsharp.org/">RestSharp</a></td>
          <td><a href="https://www.nuget.org/packages/Square.Connect/">
            Square.Connect</a></td>
        </tr>
        <tr>
          <td>Objective-C (iOS and OS X)</td>
          <td><a href="https://developer.apple.com/Library/ios/documentation/Cocoa/Conceptual/URLLoadingSystem/URLLoadingSystem.html">
            URL loading system</a></td>
          <td><a href="http://unirest.io/objective-c.html">Unirest</a>,
            <a href="https://github.com/AFNetworking/AFNetworking">
              AFNetworking
            </a></td>
          <td></td>
        </tr>
        <tr>
          <td>Java (including Android)</td>
          <td>
            <a href="http://developer.android.com/reference/java/net/HttpURLConnection.html">
              HTTPURLConnection
            </a>
          </td>
          <td>
            <a href="http://unirest.io/java.html">Unirest</a>,
            <a href="http://square.github.io/okhttp/">OkHttp</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Node.js</td>
          <td>
            <a href="http://nodejs.org/api/http.html">http</a>
          </td>
          <td>
            <a href="http://unirest.io/nodejs.html">Unirest</a>,
            <a href="https://github.com/mikeal/request">Request</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>Go</td>
          <td>
            <a href="http://golang.org/pkg/net/http/">net/http</a>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <p>
      It's also recommended that you use an HTTPS request tool (such as
      <a href="https://www.getpostman.com/">Postman</a> or
      <a href="https://luckymarmot.com/paw">Paw</a>) to help you quickly and easily
      test out requests to API endpoints during development.
    </p>
    <h3 id="generatingfromswagger">Generating client libraries from Swagger (advanced)</h3>
    <p>
      Version 2 of the Connect API is defined with the
      <a href="http://swagger.io/getting-started/">Swagger specification</a>.
      The definition is available on
      <a href="https://github.com/square/connect-api-specification">Github</a>.
      You can use this definition to generate custom client libraries, and to simplify
      other development tasks.
    </p>
    <p>
      See <a href="/articles/client-libraries#generatingwithswagger">Generating client libraries and other tools with Swagger</a> for more information.
    </p>
  </section>

  <section class="article-section">
    <h2 id="learnmore">Step 7: Learn more about the APIs you want to use</h2>
    <p>
      You're ready to begin diving into whichever Square APIs fit your use case. Here's
      a rundown of the APIs Square provides:
    </p>

    <h3 id="oauthapi">OAuth API</h3>
    <p>
      If you're using <em>any</em> of the APIs listed below to develop an application
      for <em>other</em> merchants to use, you use the OAuth API to let those merchants
      authorize your application to act on their behalf.
    </p>
    <p>
      When a merchant completes the OAuth flow for your app, you generate an <strong>access
      token</strong> for them. If you use this access token wherever you've previously
      used your <em>personal</em> access token, API requests apply to that merchant's
      account instead of to yours.
    </p>
    <p>
      To learn all about using the OAuth API, see <a href="/api/oauth/">OAuth
      Overview</a>.
    </p>
    <p>
      Code samples for the OAuth flow are available on
      <a href="https://github.com/square/connect-api-examples/tree/master/connect-examples/oauth">
        Github</a>.
    </p>

    <h3 id="ecommerceapi">E-commerce API</h3>
    <p>
      The e-commerce API consists of a few different components:
    </p>
    <ul>
      <li>
        <strong>A Javascript library</strong> that you include on your website to
        embed a secure payment form
      </li>
      <li>
        <strong>An HTTPS endpoint</strong> (called <a href="/api/connect/v2/#endpoint-charge">
        Charge</a>) that you use to initiate a transaction from your back-end server
        after a buyer enters their card details into the payment form
      </li>
      <li>
        <strong>Additional HTTPS endpoints</strong> for initiating refunds, saving
        customer information, and other actions related to e-commerce
      </li>
    </ul>
    <p>
      All HTTPS endpoints related to e-commerce are part of <a href="/api/connect/v2/">
      Square Connect version 2</a>. Be sure to read the API conventions to learn the
      details of interacting with these endpoints.
    </p>
    <p>
      To learn the basics of using the e-commerce API, see
      <a href="/articles/ecommerce-overview">E-commerce Overview</a>.
    </p>

    <h3 id="registerapi">Point of Sale API (in-person payments)</h3>
    <p>
      The Point of Sale API lets your Android or iOS app open the Square Point of Sale app to
      process in-person payments with Square hardware.
    </p>
    <p>
      If you're developing a custom point-of-sale app, this is the API for you. To
      learn the basics of using the Point of Sale API, see
      <a href="/articles/point-of-sale-api-overview">Point of Sale API Overview</a>.
    </p>

    <h3 id="reportingapis">Reporting and employee management APIs</h3>
    <p>
      Currently, most of Square's reporting and employee management HTTPS endpoints
      are part of <a href="/api/connect/v1/">Square Connect version 1</a>. Be sure
      to read the API conventions to learn the details of interacting with these
      endpoints.
    </p>
    <p>
      Code samples for item management and transaction reporting are available on
      <a href="https://github.com/square/connect-api-examples/tree/master/connect-examples/v1">
      Github</a>.
    </p>
  </section>
</article>

          <div class="article-section ratings">
  <p class="ratings__prompt">Was this page helpful?</p>

  <div class="ratings__rating ratings__rating--happy">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
  <circle fill="none" stroke="#2E3B4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="16" cy="16" r="15" />
  <path fill="none" stroke="#2E3B4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M10.6 19.8c1.4 1.7 3.3 2.8 5.4 2.8 2.1 0 4-1 5.4-2.7" />
  <circle fill="#2E3B4E" cx="11.5" cy="12.5" r="1.5" />
  <circle fill="#2E3B4E" cx="20.5" cy="12.5" r="1.5" />
</svg>

  </div>

  <div class="ratings__rating ratings__rating--sad">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
  <circle fill="none" stroke="#2E3B4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="16" cy="16" r="15" />
  <path fill="none" stroke="#2E3B4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M10.6 22.6c1.4-1.7 3.3-2.8 5.4-2.8 2.1 0 4 1 5.4 2.7" />
  <circle fill="#2E3B4E" cx="11.5" cy="12.5" r="1.5" />
  <circle fill="#2E3B4E" cx="20.5" cy="12.5" r="1.5" />
</svg>

  </div>
</div>


<section class="article-section article-section--footer">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="70" height="70">
  <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M6.9,23.6l-1.8-8.6c-1.2-5.9,4-11,9.9-9.9l8.8,1.7" />
  <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M23.7,73.2l-8.8,1.7c-5.9,1.2-11-4-9.9-9.9l1.8-8.6" />
  <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M73.3,56.1l1.7,8.9c1.2,5.9-4,11-9.9,9.9l-8.8-1.8" />
  <path stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M56.3,6.8l8.8-1.8c5.9-1.2,11,4,9.9,9.9l-1.7,8.9" />
  <circle stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="40" cy="40" r="37" />
  <circle stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="40" cy="40" r="18" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="47.8" y1="4.8" x2="44.1" y2="21.5" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="32.2" y1="4.8" x2="35.9" y2="21.5" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="4.8" y1="32.2" x2="21.5" y2="35.9" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="4.8" y1="47.8" x2="21.5" y2="44.1" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="32.2" y1="75.2" x2="35.9" y2="58.5" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="47.8" y1="75.2" x2="44.1" y2="58.5" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="75.2" y1="47.8" x2="58.5" y2="44.1" />
  <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="75.2" y1="32.2" x2="58.5" y2="35.9" />
</svg>

  <h3>Still haven't found what you are looking for?</h3>
  <p>
    Ask for help on
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://stackoverflow.com/questions/tagged/square-connect">
      Stack Overflow
    </a>
    or join our
    <a 
      target="_blank"
      rel="noopener noreferrer"
      href="https://docs.google.com/forms/d/e/1FAIpQLSfAZGIEZoNs-XryKqUoW3atFQHdQw5UqXLMOVPq3V4DEq-AJw/viewform?usp=sf_link">
      Slack channel</a>.
  </p>
</section>

        </div>
      </div>
    </div>
  </body>
</html>
